{name, "sqlite3"}.
{description, "Sqlite gen_server port for Erlang. Creates, reads and writes to sqlite database."}.
{homepage, "https://github.com/alexeyr/erlang-sqlite3"}.
{url, {git, "https://github.com/alexeyr/erlang-sqlite3.git", {branch, "master"}}}.
{authors, ["Tee Teoh <tty.erlang@gmail.com>",
           "Max Lapshin <max@maxidoors.ru>",
           "Sergey Miryanov <sergey.miryanov@gmail.com>",
           "Alexey Romanov <alexey.v.romanov@gmail.com>",
           "David Reid <dreid@mochimedia.com>"]}.
{license, "Erlang Public License 1.1", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
